body{
	margin: 10px;
	padding: 10px 10px 10px 10px;
	font-size: medium;
	font-style: normal;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#logo{
	text-align: center;
	padding-top: 5px;
	margin-bottom: 16px;
	width: 100%;
	
}

header{
	width: 100%;
}
.navigation ul {
	margin-bottom: 20px;
	padding: 0;
	text-align: center;
}

.navigation li {
	letter-spacing: 1.5px;
	padding: 10px;
	font-weight: 500;
	font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:antiquewhite;
	margin: 1px;
	border: 0.5px solid gray;
	border-radius: 6px;
}

.navigation li:hover{
	background-color:beige;
}

.navigation li a{
	color: black;
	text-decoration: none;
}

.navigation li a:hover{
	text-decoration:underline;
}

#members{
	background-color: beige;
}

#members a{
	text-decoration: underline;
}

h1{
	padding-top: 20px;
	font-size: x-large;
	line-height: 30px;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
	line-height: 26px;
}

.items{
	padding: 20px 50px;
	margin: 10px 40px;
	display: inline-block;
	width: 80%;
	height: auto;
	background-color:lightsteelblue;
	text-align: center;
	border-radius: 9px;
}

.photo{
	border: 0.5px solid gray;
	padding: 5px 5px;
	margin-top: 5px;
	border-radius: 10px;
}

footer{
	margin-top: 44px;
	border: 1px solid lightblue;
    line-height: 20px;
	width: 100%;
}

figcaption{
	font-family: 'Times New Roman', Times, serif;
	font-size: small;
	line-height: 25px;
	font-family:'Courier New', Courier, monospace;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-around;
	flex-direction: column;
}

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	/*Your code here - position relative to the parent */
	position: absolute;
	/*Your code here - place 500px left and 40px higher */;
	left: -500px;
	top: -40px;
  }
  
.skip a:focus{
	background: white;
	top: 0;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
}
#form{
	margin: 25px 0;
	border: 2px dashed burlywood;
	padding: 10px 10px;
}

.photo img{
	width: 80%;
}


@media screen and (prefers-reduced-motion: reduce){
	.skip a{
	  -webkit-transition: none;
	  transition: none;
	}
}

@media only screen and (min-width:600px) and (max-width:1000px){
	main{
		display: grid;
		grid-template-columns: 65% 35%;
		
		row-gap: 20px;
		
	}
	#PrincipalMembers{
		display: none;
	}
	.items{
		grid-column: 1 / span 1;
		grid-row: auto / span 1;

	}
	#info{
		grid-column: 2 / span 1;
		grid-row: auto / span 1;
		text-align: center;

	}
	#form{
		grid-column: 1 / span all;
		grid-row: auto / span 1;
		margin: 5px 10px;

	}
}

@media all and (min-width: 1000px){
	.container{
		display: flex;
		justify-content: space-around;
		align-items:flex-start;
		flex-wrap: nowrap;
		align-content: space-around;
		flex-direction: row;
	}
	.items{
		margin: 10px 20px;
	}
	#info{
		text-align: center;
	}

}


