body{
	margin: 10px;
	padding: 10px 10px 10px 10px;
	font-size: medium;
	font-style: normal;
	font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.navigation ul {
	margin-bottom: 20px;
	padding: 0;
	text-align: center;
}

.navigation li {
	letter-spacing: 1.5px;
	padding: 10px;
	font-weight: 500;
	font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:antiquewhite;
	margin: 1px;
	border: 0.5px solid gray;
	border-radius: 6px;
}

.navigation li:hover{
	background-color:beige;
}

.navigation li a{
	color: black;
	text-decoration: none;
}

.navigation li a:hover{
	text-decoration:underline;
}

h1{
	padding-top: 20px;
	font-size: x-large;
	line-height: 30px;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
	line-height: 26px;
}

footer{
	margin-top: 44px;
	border: 1px solid lightblue;
    line-height: 20px;
	grid-row: 4 / span 1;
	grid-column: 1 / span all;
}

figcaption{
	font-family: 'Times New Roman', Times, serif;
	font-size: small;
	line-height: 25px;
	font-family:'Courier New', Courier, monospace;
}

p{
	line-height: 20px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	margin: 20px 0;
}

.image{
	border: 2px dashed lightgray;
	text-align: center;
	width: 50%;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.image img{
	width: 70%;
}

main{
	width: 100%;
	background-image: url("../images/back.webp");
	background-size: cover;
	grid-row: 2 / span 1;
	grid-column: 1 / span all;
}

main h2{
	font-family: "Trirong", serif;

}

.container{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	row-gap: 10px;
}

header{
	grid-row: 1 / span 1;
	grid-column: 1 / span all;
}

aside{
	grid-row: 3 / span 1;
	grid-column: 1 / span all;
}

/*
@media all and (min-width: 800px){
	.container{
		display: grid;
		grid-template-columns: auto 100px;
		grid-template-rows: 100px auto 70px;
	}
	aside{
		margin-top: 300px;
		grid-row: 2 / span 1;
		grid-column: 2 / span 1;
	}
	header{
		grid-row: 1 / span 1;
		grid-column: 1 / span all;
	}
	footer{
		grid-row: 3 / span 1;
		grid-column: 1 / span all;
	}

	main{
		grid-row: 2 / span 1;
		grid-column: 1 / span 1;
	}

}
*/


